asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
dj-database-url==2.0.0
Django==4.2.1
django-extensions==3.2.1
django-heroku==0.3.1
gunicorn==20.1.0
idna==3.4
mysql==0.0.3
mysqlclient==2.1.1
Pillow==9.4.0
psycopg2==2.9.6
pydot==1.4.2
pyparsing==3.0.9
pytz==2023.3
reportlab==3.6.12
requests==2.31.0
sqlparse==0.4.3
typing_extensions==4.6.2
tzdata==2022.7
urllib3==2.0.2
whitenoise==6.4.0
